<!-- Main part of the menu-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ name }}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/widgets']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Widgets</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div>
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>